<app-cabecera title="Perfil" srcLink="" routerLinkk="/Principal" nameRouterLink="Volver"
  img="../../../assets/imagenes/AlumnoPerfil.png" srcLinkBoolean="true"> </app-cabecera>


<div class="container col-10">
  <!-- quien soy -->
  <div class="card col-12 centrado">
    <img src="../../../assets/imagenes/quiensoy.jpeg" class="slide-fwd-center card-img-top imagenPerfil" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quien soy?</h5>
      <p class="card-text">Soy un alumno de la UTN FRA</p>
    </div>
  </div>
  <!-- FIN quien soy -->
  <!-- Card-TAB -->
  <app-card-tabs nameTabUno="Trabajo Practico" nameTabDos="Donde Funciona?" titleTabUno="Esto es un trabajo práctico"
    descriptionTabUno="Piedra, papel, tijera, lagarto, spock es una version del tradicional piedra, papel, tijera en 
    la cual se busco agregar dificultad y en este caso las reglas son que: Tijeras cortan el papel, papel tapa piedra, piedra aplasta lagarto, 
    lagarto envenena a Spock, Spock rompe tijeras, tijeras decapitan lagarto, lagarto debora papel, 
    papel desautorisa a Spock, Spock vaporiza piedra, y, como es siempre... piedra aplasta tijeras.
   " ></app-card-tabs>
  <!-- FIN Card-TAB -->
  <app-footer></app-footer>
</div>