<app-cabecera title="Sala de Juegos" srcLink="https://github.com/yonykikok" 
routerLinkk="/QuienSoy" nameRouterLink="Quien Soy?" nameLink="Github" img="../../../assets/imagenes/utn.png"
routerLinkBoolean="true" srcLinkBoolean="true"> </app-cabecera>

<br>

<!-- CARDS -->
<app-card-juego title="Juego" description="El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de
armonía en los
estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se
apropien de los temas impartidos por los docentes utilizando el juego." 
img="../../../assets/imagenes/juegos.png" routerLinkk="/Juegos"></app-card-juego>

<app-card-juego title="Listado" description="Los listados de los resultados con ordenamiento y busqueda" 
img="../../../assets/imagenes/top3.png" routerLinkk="/Listado"></app-card-juego>

<app-card-juego title="Configuracion" description="Ajustes de la aplicacion y los métodos de autentificación" 
img="../../../assets/imagenes/setting.png" routerLinkk="/Configuracion"></app-card-juego>
<!-- end CARDS -->