.text-Overflow-Hide{
    
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .text-Overflow-Hide>p{    
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .text-Overflow-Hide:hover{
    white-space: normal; 
  }
