<app-cabecera title="Juegos" srcLink="" routerLink="/Principal" nameRouterLink="Volver"
  img="../../../assets/imagenes/joystick.png"> </app-cabecera>
<br>
<div class="container col-10">
  <div class="offset-1">
    <app-card-img-top title="Velocidad y agilidad aritmética" description="Juego de agilidad mental"
      img="./assets/imagenes/velocidad.png" routerLinkk="/Juegos/Agilidad" mostrarBoton="true"></app-card-img-top>

    <app-card-img-top title="Piedra Papel o Tijera" description="Juega contra la máquina"
      img="./assets/imagenes/piepaptig.png" routerLinkk="" mostrarBoton="true"></app-card-img-top>

    <app-card-img-top title="Adivina el número secreto" description="Juega de estrategia"
      img="./assets/imagenes/adivina.png" routerLinkk="/Juegos/Adivina" mostrarBoton="true"></app-card-img-top>

    <app-card-img-top title="PPTLS" description="Juega contra la maquina" img="./assets/imagenes/pptls.png"
      routerLinkk="/Piedratls" mostrarBoton="true"></app-card-img-top>

    <app-card-img-top title="Tateti" description="juego de estrategia" img="./assets/imagenes/tateti.png"
      routerLinkk="/tateti" mostrarBoton="true"></app-card-img-top>

    <app-card-img-top title="Anagrama" description="juego de agilidad" img="./assets/imagenes/anagrama.png"
      routerLinkk="/anagrama" mostrarBoton="true"></app-card-img-top>
  </div>
</div>