
.centrado{
    text-align: center;
}
.container
{
border-radius: 30px;
    background: url("../../../assets/imagenes/background-numbers.PNG") no-repeat center center/ cover;
}
input{
    display: inline-block;
    border-radius: 100%;
    height: 100px;
    font-size: 200%;
    font-weight: bold;
}
.overflowHidden{
    overflow: hidden;
}
#snackbar{
    font-size: 200%;
    background-color: rgba(128, 0, 128, 0.356);
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#intentos{
    margin-top: 15px;
    float: right;
    background-color: rgba(255, 166, 0, 0.274);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    font-size: 200%;
    font-weight: bold;
}