<app-cabecera title="Perfil" srcLink="" routerLinkk="/Principal" nameRouterLink="Volver"
  img="../../../assets/imagenes/AlumnoPerfil.png" srcLinkBoolean="true"> </app-cabecera>


<div class="container col-10">
  <!-- quien soy -->
  <div class="card col-12 centrado">
    <img src="../../../assets/imagenes/quiensoy.jpeg" 
      class="slide-fwd-center card-img-top imagenPerfil" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quien Soy?</h5>
      <p class="card-text">Soy Un alumno de la UTN FRA</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- FIN quien soy -->
  <!-- Card-TAB -->
  <app-card-tabs nameTabUno="Trabajo Practico" nameTabDos="Donde Funciona?" titleTabUno="Esto es un trabajo práctico"
    descriptionTabUno="Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene 
    estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades 
    intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a 
    cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para 
    los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender 
    cómo se está produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno 
    es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión 
    del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a 
    la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación."
    nameButtom="Descargar PDF"></app-card-tabs>
  <!-- FIN Card-TAB -->
  <app-footer></app-footer>
</div>