<app-cabecera title="Login" img="../../../assets/imagenes/utn.png"> </app-cabecera>
<div class="container centrado">
  <div class="header-Login shadow-pop-tr">
    <img id="imgPerfil " src="./assets/imagenes/login.png" alt="Avatar">
  </div>
  <br>
  <div class="body-login col-6 offset-3 shadow-pop-tr">
    <form>
      <div class="form-group">
        <input type="email" class="form-control centrado" [(ngModel)]="user.email" name="email"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control centrado" [(ngModel)]="user.password" name="password"
          placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary col-4" (click)="onLogin()">Ingresar</button>
      <button type="submit" class="btn btn-success col-4 offset-2" routerLink="/Registro">Registrarse</button>
    </form>
  </div>
</div>